/* Default Styles */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Background Styles */

body, html {
  height: 100%;
  background-color: #373d42;
}

div#background {
  background-image: url("./images/training.jpg");
  background-color: #43bff9;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1072px) {
  div#background {
    height: 100%;
  }
}

/* NavBar Styles */

.navbar {
  display: inline-block;
}

.navbar ul li {
  margin: 0;
  text-align: center;
}

.score {
  width: 20%;
  color: #cec9c0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5vw;
  padding: 10px 5px 5px 0;
}

li.nav-item {
  padding: 0;
  width: 330px;
  margin-right: 0;
}

.status {
  width: 60%;
  color: #cec9c0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5vw;
  padding: 10px 5px 5px 5px;
}

/* Header Styles */

/* img#tko {
  display: none;
} */

.title {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive;
  color: #343a40;
  text-shadow: 3px 3px #CBBEB6;
}

h1.title {
  font-size: 3vw;
  margin-top: 100px;
}

h4.title {
  font-size: 1.7vw;
}

/* ClickCard Styles */

.container {
  display: -ms-flexbox;
  display: flex;
  min-height: 80%;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.click-item {
  background-size: cover;
  background-position: 50%;
  height: 180px;
  width: 180px;
  margin: 25px 25px;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
  cursor: pointer;
  display: inline-block;
}

.click-item:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}

@-webkit-keyframes flash {
  0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/* ClickCard Shake Styles */

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* Footer Styles */

footer {
  height: 50px;
  background-color: #343a40;
  color: #41913e;
  font-family: 'Ubuntu', sans-serif;
}

footer div {
  margin-left: 20px;
  padding-top: 10px;
  color: #41913e;
}

footer div img {
  width: 40px;
}